[user]
	name = Lin Yang
	email = geekya215@gmail.com
[core]
	editor = nvim
[commit]
	gpgsign = true
[color]
	ui = auto
[url "https://github.com/"]
	insteadOf = gh:
[url "https://gist.github.com/"]
	insteadOf = gist:
